<div class="row">
    <h4>Employees on file</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Profile Id</th>
                <th>First</th>
                <th>Last</th>
                <th>Account No</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.profileId }}</td>
                <td>{{ employee.first }}</td>
                <td>{{ employee.last }}</td>
                <td>{{ employee.accountNo }}</td>
            </tr>
        </tbody>
    </table>
</div>
